//- include sections/right-side.pug

.right-side__container.d-flex.flex-column.align-items-center
  img.right-side__img(src='./images/avatar_1.jpg', alt='welcome to the chat')
  span.fw-bold.right-side__span Привет, Кодовёнок
  p.small.text-muted.m-0 Выбери чат, чтобы начать общаться
