// Chats styles

.chats {
  & > .search-panel {
    &::placeholder {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      font-family: Roboto, sans-serif;
    }
  }
}