// Contacts component styles

.contacts {
  &__input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $gray;
  }
}

.person {
  text-decoration: none;

  &__info {
    margin-left: 74px;
  }

  &__avatar {
    transform: translateY(-2px);
    border-radius: 50px;
  }

  &__name {
    color: $dark-gray;
  }

  &__status {
    color: $secondary;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $primary;

    & .person__name {
      color: $light;
    }

    & .person__status {
      color: $gray;
    }
  }
}