// Header styles
@import "../mixins/base_mixins";

.header {
  &-icon {
    width: 25px;
    height: 25px;
    margin-right: 40px;
  }

  &-logo {
    width: 25px;
    height: 40px;
    vertical-align: middle;
  }
}