// Base project utilities

.bg-test {
  background: #d9faff;
}

.bg-test-2 {
  background: #d9ffe3;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.scroll-off {
  overflow-y: hidden;
}

.scroll-on {
  overflow-y: scroll;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.inverted {
  filter: invert(1);
}