doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Index Page 
    link(rel='stylesheet' href='./styles/app.css')
  body
    header
      p Header
      div.bg-primary
    section.left-side
      p Left-side
      div.bg-secondary
    section.right-side
      p Right-side
      div.bg-success
