doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Index Page 
    link(rel='stylesheet' href='./styles/app.css')
  body
    header
      div.bg-primary
        p Header
    main
      section.left-side
        div.bg-secondary
          p Left-side
      section.right-side
        div.bg-success
          p Right-side
