// Project variables

// Colors

$gray: #EFEFEF;
$primary: #4545A5;
$dark-gray: #212529;
$secondary: #6C757D;
$light: #FBFBFB;

$theme-colors: (
  "gray": #EFEFEF,
  "primary": #4545A5,
  "secondary": #6C757D,
  "success": #28A745,
  "info": #17A2B8,
  "warning": #FFC107,
  "danger": #DC3545,
  "light": #FBFBFB,
  "dark": #343A40,
  "dark-gray": #212529,
  "white": #FFFFFF
);

// Grid breakpoints

 $grid-xs: 0;
 $grid-sm: 576px;
 $grid-md: 768px;
 $grid-lg: 992px;
 $grid-xl: 1200px;
 $grid-xxl: 1600px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

// Content max-widths

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);

// Border properties

$border-color: $gray;
$border-radius: 1rem;

// Mixins

$enable-shadows: true;